.emoji-inline--wrapper {
  vertical-align: baseline;
  height: auto;
  position: relative;
  overflow: visible;
  vertical-align: top;
  object-fit: contain;
  align-items: center;
  display: inline-flex;
  overflow: hidden;
  width: 1.375rem;
  height: 1.375rem;
}

.emoji-inline--wrapper img {
  object-fit: contain;
  position: absolute;
  top: 50%;
  overflow: hidden;
  width: 1.375rem !important;
  height: 1.375rem !important;
  margin-top: -0.6875rem;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
  opacity: 1 !important;
  max-width: 1.375rem !important;
  display: inline !important;
}