{% extends "base.html" %} {% block content %}
<div><a href="..">..</a>/<span class="accent-data">{{ page.slug }}</span></div>
<article class="h-entry">
    <a class="u-url" href="{{ page.permalink }}" style="display: none"> </a>
    <span class="dt-published">Published <relative-time datetime="{{ page.date | date(format='%Y-%m-%dT%H:%M:%S%z') }}" threshold="P30D" class="accent-data">{{ page.date | split(pat="T") | first }}</relative-time></span>
    {% if config.extra.author and config.extra.display_author == true %}
    <address rel="author">
        By
        <a
            rel="author"
            class="accent-data p-author h-card text-glow"
            href="https://dunkirk.sh"
            >{{config.extra.author}}</a
        >
    </address>
    {% endif %}
    <h1>{{ page.title }}</h1>

    {% if page.toc and page.extra["has_toc"] %}
    <h2>Table of contents</h2>
    <ul>
        {% for h2 in page.toc %}
        <li>
            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
            <ul>
                {% for h3 in h2.children %}
                <li>
                    <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <div class="e-content p-name">{{ page.content | safe }}</div>

    <p class="tags-data">
        {% if page.taxonomies.tags %} {% for tag in page.taxonomies.tags %}
        <a href="/tags/{{ tag | slugify }}" class="p-category text-glow"
            >|{{ tag }}|</a
        >
        {% endfor %} {% endif %}
    </p>
</article>
{% endblock content %}
