<meta charset="UTF-8" />
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta content="text/html; charset=UTF-8" http-equiv="content-type" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="index, follow" />
<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
{% if page.title %} {% set title = page.title %} {% elif section.title %} {% set
title = section.title %} {% elif term %} {% set title = "|" ~ term.name ~ "|" %}
{% elif current_path and "tags" in current_path %} {% set title = "Root Index"
%} {% elif config.title %} {% set title = config.title %} {% endif %} {% if
page.extra.author %} {% set author = page.extra.author %} {% elif
section.extra.author %} {% set author = section.extra.author %} {% elif
config.extra.author %} {% set author = config.extra.author %} {% endif %} {% if
page.description %} {% set description = page.description | truncate(length=150)
%} {% elif section.description %} {% set description = section.description |
truncate(length=150) %} {% elif config.description %} {% set description =
config.description | truncate(length=150) %} {% endif %} {% if page.extra.image
%} {% set image = get_url(path=page.extra.image, trailing_slash=false) %} {%
elif section.extra.image %} {% set image = get_url(path=section.extra.image,
trailing_slash=false) %} {% elif page.path %} {% set image =
get_url(path=page.path ~ "og.png", trailing_slash=false) %} {% elif current_path
%} {% set image = get_url(path=current_path ~ "og.png", trailing_slash=false) %}
{% else %} {% set image = get_url(path="og.png", trailing_slash=false) %} {%
endif %} {% if page.permalink %} {% set url = page.permalink %} {% elif
section.permalink %} {% set url = section.permalink %} {% elif config.base_url
%} {% set url = config.base_url %} {% endif %} {% if title %} {% if current_url
and url != current_url %} {% set url = get_url(path=current_path,
trailing_slash=true) %} {% endif %}
<title>{{ title }}</title>
{% endif %} {% block metatags %} {% if title %}
<meta name="title" content="{{ title }}" />
{% endif %} {% if author %}
<meta name="author" content="{{ author }}" />
{% endif %} {% if description %}
<meta name="description" content="{{ description }}" />
{% endif %}
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ url | safe }}" />
{% if title %}
<meta property="og:site_name" content="{{ config.title }}" />
{% endif %} {% if title %}
<meta property="og:title" content="{{ title }}" />
{% endif %} {% if description %}
<meta property="og:description" content="{{ description }}" />
{% endif %} {% if image %}
<meta property="og:image" content="{{ image }}" />
{% endif %} {% set twitter_card = config.extra.twitter_card |
default(value=true) %} {% if twitter_card != false %}
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="{{ url | safe }}" />
{% if title %}
<meta property="twitter:title" content="{{ title }}" />
{% endif %} {% if description %}
<meta property="twitter:description" content="{{ description }}" />
{% endif %} {% if image %}
<meta property="twitter:image" content="{{ image }}" />
{% endif %} {% endif %}
<link rel="canonical" href="{{ url | safe }}" />
<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
<link rel="shortcut icon" href="/favicon/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="site@zera" />
<link rel="manifest" href="/favicon/site.webmanifest" />
{% endblock metatags %} {% if config.generate_feeds %} {% block
feed%}
<link rel="alternate" type="application/atom+xml" title="Kieran Klukas' Atom feed" href="{{
get_url(path=" atom.xml", trailing_slash=false) }}">
<link rel="alternate" type="application/rss+xml" title="Kieran Klukas' RSS feed" href="{{ get_url(path=" rss.xml",
  trailing_slash=false) }}"> {% endblock feed %} {% endif%} {% block css %} {% set
cssHash = get_hash(path="css/main.css", sha_type=256, base64=true) %}
<link rel="stylesheet" type="text/css"
  href="{{ get_url(path='css/main.css?' ~ cssHash, trailing_slash=false) | safe }}" />
{% endblock css %}

{% set jsHash = get_hash(path="js/copy-button.js", sha_type=256,
base64=true) %}
<script src="{{ get_url(path='js/copy-button.js?' ~ jsHash, trailing_slash=false) | safe }}" defer></script>

{% set emojiJsHash = get_hash(path="js/emoji-replace.js", sha_type=256,
base64=true) %}
<script src="{{ get_url(path='js/emoji-replace.js?' ~ emojiJsHash, trailing_slash=false) | safe }}" defer></script>

{% set lightboxJsHash = get_hash(path="js/lightbox.js", sha_type=256,
base64=true) %}
<script src="{{ get_url(path='js/lightbox.js?' ~ lightboxJsHash, trailing_slash=false) | safe }}" defer></script>

{% set relativeTimeJsHash = get_hash(path="js/relative-time.js", sha_type=256,
base64=true) %}
<script src="{{ get_url(path='js/relative-time.js?' ~ relativeTimeJsHash, trailing_slash=false) | safe }}"
  defer></script>

<script type="speculationrules">
{
  "prerender": [
    {
      "where": {
        "selector_matches": "a"
      }
    }
  ]
}
</script>

<script>
  function cb(res) {
    const fmt = new Intl.NumberFormat('en', {notation: 'compact'});
    const elements = document.querySelectorAll("[id='visits']");
    elements.forEach(el => {
      el.innerText = fmt.format(res.value);
      el.title = res.value + " visits";
    });
  }
</script>
<script async
  src="https://abacus.jasoncameron.dev/hit/dunkirk.sh/counter{%- if url | split(pat='/') | slice(start=3) | join != '' -%}-{{url | split(pat='/') | slice(start=3) | join(sep=' ') | slugify}}{%- endif -%}?callback=cb"></script>

<link rel="me" href="https://social.dino.icu/@taciturnaxoltol" />
<link rel="me" href="https://github.com/taciturnaxolotl" />
<link rel="me" href="https://bsky.app/profile/dunkirk.sh" />
<link rel="me" href="https://www.youtube.com/@kieran.rambles" />
<link rel="me" href="https://keyoxide.org/aspe:keyoxide.org:QMHCMT55EODYTEBQ5C7QOAFN6A" />
<link rel="me" href="https://serif.blue" />
<meta name="fediverse:creator" content="@taciturnaxoltol@social.dino.icu" />

<link rel="indieauth-metadata" href="https://indiko.dunkirk.sh/.well-known/oauth-authorization-server" />
<link rel="authorization_endpoint" href="https://indiko.dunkirk.sh/auth/authorize" />
<link rel="token_endpoint" href="https://indiko.dunkirk.sh/auth/token" />
<link rel="me" href="https://indiko.dunkirk.sh/u/tacy" />

<link rel="webmention" href="https://webmention.io/dunkirk.sh/webmention" />

<div class="h-card" style="display:none">
  <a class="u-url" rel="me home" href="https://dunkirk.sh">
    <span class="p-name">Kieran Klukas</span>
  </a>
  <p class="p-given-name">Kieran</p>
  <p class="p-family-name">Klukas</p>
  <p class="dt-bday">2008-04-27</p>
  <p class="p-sex">male</p>
  <p class="p-note">
    {% set time = now() | date(format="%s") | int - 1209254400 %}{{ time / 31536000 | round(method="floor") }},
    typescript nerd, videographer, frc programmer, semi retired fpv pilot
  </p>
  <a class="u-email" href="mailto:me@dunkirk.sh" rel="me">me@dunkirk.sh</a>
  <div class="p-adr h-adr">
    <span class="p-country-name">United States of America</span>
  </div>
  <img class="u-photo" src="/pfps/fall.jpg"
    alt="kieran wearing a robotics sweatshirt and standing in front of a tree with fall leaves" />
</div>